<div class="mortal-sheet-container">
  <mat-card class="general-card">
    <mat-card-title>{{ mortalSheet.sheet.name }}</mat-card-title>
    <mat-card-subtitle>Player: {{ mortalSheet.sheet.player }} (id: {{ mortalSheet.human.id}})</mat-card-subtitle>
    <mat-card-content>
      <p><strong>Age: </strong> {{ mortalSheet.sheet.age }}</p>
      <p><strong>Virtue: </strong> {{ mortalSheet.human.virtue }}</p>
      <p><strong>Vice: </strong> {{ mortalSheet.human.vice }}</p>
      <p><strong>Concept: </strong> {{ mortalSheet.sheet.concept }}</p>
      <p><strong>Chronicle: </strong> {{ mortalSheet.sheet.chronicle }}</p>
      <p><strong>Faction: </strong> {{ mortalSheet.human.faction }}</p>
      <p><strong></strong></p>
    </mat-card-content>
  </mat-card>
  <common-sheet [sheet]="mortalSheet"></common-sheet>
</div>