<div class="vampire-sheet-container">
    <mat-card class="general-card ">
      <mat-card-title>{{ vampireSheet.sheet.name }}</mat-card-title>
      <mat-card-subtitle>Player: {{ vampireSheet.sheet.player }} (id: {{ vampireSheet.vampire.id}})</mat-card-subtitle>
      <mat-card-content>
        <p><strong>Age: </strong> {{ vampireSheet.sheet.age }}</p>
        <p><strong>Mask: </strong> {{ vampireSheet.vampire.mask }}</p>
        <p><strong>Dirge: </strong> {{ vampireSheet.vampire.dirge }}</p>
        <p><strong>Concept: </strong> {{ vampireSheet.sheet.concept }}</p>
        <p><strong>Chronicle: </strong> {{ vampireSheet.sheet.chronicle }}</p>
        <p><strong>Clan: </strong> {{ vampireSheet.vampire.clanId }}</p>
        <p><strong>Covenant: </strong> {{ vampireSheet.vampire.covenantId }}</p>
        <p><strong>Blood Potency: </strong> {{ vampireSheet.vampire.bloodPotency }}</p>
      </mat-card-content>
    </mat-card>
    
    <common-sheet [sheet]="vampireSheet"></common-sheet>

    <!-- Disciplines Table -->
    <mat-card class="disciplines-card">
      <mat-card-title>Disciplines</mat-card-title>
      <mat-card-content>
        <mat-table [dataSource]="vampireSheet.disciplines" class="mat-elevation-z8">
  
          <!-- Merit Columns -->
          <ng-container matColumnDef="disciplineNameRank">
            <mat-header-cell *matHeaderCellDef>Discipline (rank)</mat-header-cell>
            <mat-cell *matCellDef="let discipline">
              <strong>{{ discipline.disciplineName }} ({{ discipline.rank }}):</strong>
            </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let discipline">{{ discipline.name }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell *matCellDef="let discipline">{{ discipline.description }}</mat-cell>
          </ng-container>
  
          <!-- Define the table rows -->
          <mat-header-row *matHeaderRowDef="['disciplineNameRank', 'name', 'description']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ['disciplineNameRank','name', 'description'];"></mat-row>
        </mat-table>      
      </mat-card-content>
    </mat-card>
  </div>